.mainWrapper {
  padding: 50px 0;
  .logoWrapper {
    padding: 3em 0;
    display: flex;
    justify-content: center;
  }

  .ticketWrapper {
    display: flex;
    .listWrapper {
      padding: 0 20px;
    }
  }
}

@media (max-width: 768px) {
  .mainWrapper {
    padding: 1em;
    .logoWrapper {
      padding: 1em 0;
    }
    .ticketWrapper {
      flex-direction: column;
      .listWrapper {
        padding: 1em 0;
      }
    }
  }
}
